# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs/
*.log
debug.log
error.log

# Editor e sistema operacional
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Ambiente
.env
